.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f0e4;
}

.header_icon{
    width: 25px;
    margin: 0 .8em;
    color: rgb(88, 83, 83);
}

.nav_items img{
    margin: 0 .8em;
}